{% set theme_config = attribute(config.themes, config.system.pages.theme) %}
<!DOCTYPE html>
<html lang="{{ grav.language.getLanguage ?: 'en' }}">

<head>
    {% block head %}
    {% include 'partials/head.html.twig' %}
    {% endblock %}


</head>

<body class=" {{ page.header.body_classes }}">

    {# Wrap content in #app to allow vue components #}
    <div id="app">
        {% block hero %} {% endblock %}

        {% block content %}

        {% endblock %}
        {% if page.template =='default' %}
        <div class="has-text-centered has-padding-top has-padding-bottom">
            <div class="container">
                <p class="is-size-4">Partners</p>
                <p>This project was possible due to the following partners.</p>
                <div class="images">
                    <a class='footer-image' href="//publiccode.eu/" rel='noopener' target="_blank">
                        <object class='partner-image' data="{{ url('theme://images/logos/public-code-logo.svg') }}"
                            type="image/svg+xml">Public Code EU</object>
                    </a>
                    <a class='footer-image' href="//fsfe.org/" rel='noopener' target="_blank">
                        <object class='partner-image' data="{{ url('theme://images/logos/fsfe-logo.svg') }}"
                            type="image/svg+xml">Free Software Foundation Europe</object>
                    </a>
                    <a class='footer-image' href="//opusvl.com" rel='noopener' target="_blank">
                        <object class='partner-image' data="{{ url('theme://images/logos/opusvl-black-logo.svg') }}"
                            type="image/svg+xml">OpusVL</object>
                    </a>
                    <a class='footer-image' href="//openuk.uk/" rel='noopener' target="_blank">
                        <object class='partner-image' data="{{ url('theme://images/logos/OpenUK-logo.svg')}}"
                            type="image/svg+xml">OpenUK</object>
                    </a>
                </div>
            </div>
        </div>
        {% endif %}
        {% include 'partials/footer.html.twig' %}

    </div>
    {% do assets.addJs('https://use.fontawesome.com/releases/v5.13.0/js/all.js', 120) %}
    {% do assets.addJs('https://use.fontawesome.com/releases/v5.13.0/js/v4-shims.js', 120) %}
    {{ assets.js()|raw }}
    {{ assets.js('bottom')|raw }}
    <!-- Matomo -->
    <script>
        var _paq = _paq || [];
        /* tracker methods like "setCustomDimension" should be called before "trackPageView" */
        _paq.push([
            "setDocumentTitle", document.domain + "/" + document.title
        ]);
        _paq.push(["setCookieDomain", "*.publiccode.directory"]);
        _paq.push(["setDomains", ["*.publiccode.directory"]]);
        _paq.push(['trackPageView']);
        _paq.push(['enableLinkTracking']);
        (function () {
            var u = "//web-analytics.opusvl.com/";
            _paq.push([
                'setTrackerUrl', u + 'piwik.php'
            ]);
            _paq.push(['setSiteId', '25']);
            var d = document,
                g = d.createElement('script'),
                s = d.getElementsByTagName('script')[0];
            g.type = 'text/javascript';
            g.async = true;
            g.defer = true;
            g.src = u + 'piwik.js';
            s.parentNode.insertBefore(g, s);
        })();
    </script>
    <noscript>
        <p><img src="//web-analytics.opusvl.com/piwik.php?idsite=25&amp;rec=1" style="border:0;" alt="" /></p>
    </noscript>
    <!-- End Matomo Code -->
</body>

</html>
