<footer class="footer  {% if page.template =='default' or page.template =='form' %} has-background-white {% endif %}"
    id="footer">

    <div class="is-dark has-text-white has-text-centered">
        <div class="container">
            <div class="columns is-centered is-multiline">
                <div class="column is-12 is-flex justify-between">
                    {% set image_parts = pathinfo(grav.theme.config.theme.logo) %}
                    <a class="footer-link" href="{{ base_url == '' ? '/' : base_url }}">
                        {% if image_parts|length > 0 %}
                        <object class='logo mr-2' type='image/svg+xml'
                            data="{{ url('theme://assets') }}/{{ image_parts.basename }}"
                            alt="{{ site.title }} image">{{site.title}}</object>
                        {{ config.site.title }}
                        {% else %}
                        {{ config.site.title }}
                        {% endif %}
                    </a>
                    <a href="https://twitter.com/publiccodedir" class="footer-link twitter">
                        <object data="{{url('theme://images/twitter.svg')}}" type='image/svg+xml' class="logo"
                            alt='Twitter logo'>
                            Twitter logo
                        </object>
                    </a>
                </div>
                <div class="column is-12 is-flex justify-end">
                    {% set footer_pages = page.collection({'items': {'@root.descendants':''}}) %}
                    {% for page in footer_pages %}
                    {% if page.visible and page.header.in_footer_menu %}
                    <a href="{{page.url}}" class="footer-link">{{page.title}}</a>
                    {% endif %}
                    {% for p in footer_pages.children %}
                    {% if p.visible and p.header.in_footer_menu %}
                    <a href="{{p.url}}" class="footer-link">{{p.title}}</a>
                    {% endif %}

                    {% endfor %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>

</footer>
